.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 

  padding-bottom: 20px; 
  padding-right: 26px;
}

.filters {
  border-radius: 8px;
 
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  
  background-color: #86312e; 
  background-image: linear-gradient(45deg, #fd591a 22%, transparent 90%);
  
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.filter,
.filterplatform,
.order,
.rating {
  
  gap:2px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.labelgenre,
.labelplatform,
.labelorder {
  margin-right: 5px;
}

.select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.labelorder{
  background-color: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.pagination{
  margin: 10px;
}

.pagination button{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin:20px;
  font-family: Electrolize;
  font-size: 10px;
  margin-top: 1px;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #ff7d1f;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

}
.pagination button:disabled {
  background-color: #cccccc; 
  color: #999999; 
  cursor: not-allowed; 
}
.pagination button:active {
  background-color: #ff7d1f; 
  transform: scale(0.95);
}
.pagination span{
 font-family: Electrolize;
 color: white;
 font-weight: bold;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.95);
 
}





.noGames {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}


.loadercontainer {
  width: 100%;
  height: 100vh;
  display:contents;
  justify-content: center;
  align-items: center;
  position: fixed;
  
  z-index: 1;
}

.spinner {
 
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #05204b transparent #ff7d1f transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.pagination2{
  margin: 10px;
}

.pagination2 button{
  margin:20px;
  font-family: Electrolize;
  font-size: 10px;
  margin-top: 1px;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #ff7d1f;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
.pagination2 button:disabled {
  background-color: #cccccc; 
  color: #999999; 
  cursor: not-allowed; 
}
.pagination2 button:active {
  background-color: #ff7d1f; 
  transform: scale(0.95); 
  
}
.pagination2 span{
  font-family: Electrolize;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.95); 
  
 }