.container {
  background-image: url('https://images.unsplash.com/photo-1592659762303-90081d34b277?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGNifGVufDB8fDB8fHww&w=1000&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
    margin-top: 0px;
    padding: auto;
    min-height:100vh;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
.name {
    padding-top: 20px;
    font-family: Electrolize;
    text-align: center;
    color: #fff;
    
  }
  
.image {
    width: 500px;
    height: auto;
    margin-bottom: 2px;
    border-radius: 61px;
    box-shadow: 10px 12px 21px rgba(0, 0, 0.2, 0.7);
  }

  
  
  
  .description {
    margin-bottom: 10px;
    padding: 9px;
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Electrolize;
    border-radius: 8px;
    box-shadow: 0 9px 4px rgba(0, 0, 0, 0.2);
 
  
 
  
  }
  .rating{
    
    font-family: Electrolize;
    display: inline-block;
    margin-right: 5px;
    padding: 4px 8px;
    margin: 2px;
    background: linear-gradient(135deg, #e4c812, #d5e33a);
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
  }
 
  
  .platforms, .genres {
    color: #fff;
    font-family: Electrolize;
  }
  .released{
    font-family: Electrolize;
  
    margin-right: 5px;
    padding: 4px 8px;
    margin: 2px;
    
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
  }
  .platforms div, .genres div {
    font-family: Electrolize;
    display: inline-block;
    margin-right: 5px;
    padding: 4px 8px;
    margin: 2px;
    background: linear-gradient(135deg, #3f51b5, #00bcd4);
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
  }
  


.noGames {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}


.loadercontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-image: url('https://images.unsplash.com/photo-1592659762303-90081d34b277?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGNifGVufDB8fDB8fHww&w=1000&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #05204b transparent #ff7d1f transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}