.container {
    padding: 20px;
    background-color: #fff;
    background-image: url(https://img.freepik.com/premium-photo/neon-dot-matrix-background-with-vibrant-mint-green-magenta-ai-generative_87646-14135.jpg?w=360);

  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #de1818;
    margin-bottom: 20px;
  }
  