.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHk0NmMzMTdraDBtMnE0ZTV2amd5dGd4NmhnY2kwMWZmbDF6aDNndCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/doXBzUFJRxpaUbuaqz/giphy.gif');
  }
  
  .title {
    font-family: Electrolize;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 18px;
    color: black;
  }
  
  .link {
    font-family: Electrolize;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #ff7d1f;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    
    margin-top: 20px;
  }
  