@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
.container {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
  font-family: electrolize;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #05204b; /* Color base dorado */
  background-image: linear-gradient(45deg, #005091 22%, transparent 90%); /* Agregar brillo */
position: fixed;
width: 99%;
  align-items: center; /* Color de fondo de la barra de navegación */
}
.search{
  
  margin-top: 4px;
}
.tittle{
  
  flex: 1; 
  font-size: 22px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}

.link {
  font-family: Electrolize;
  font-size: 16px;
  margin-top: 1px;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #ff7d1f;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.search{
  padding: 5px 10px;
  text-decoration: none;
  color: #fff; /* Color del texto de los enlaces */
  font-weight: bold;

  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.link:hover {
  background-color: #ff5722; /* Cambia el color de fondo cuando se presiona */
 /* Efecto de levantamiento */
}

.link:active {
  background-color: #ff5722; /* Cambia el color de fondo cuando se presiona */
  transform: scale(0.95); /* Efecto de hundimiento */
}
